<div class="modal fade" id="run-job-modal" tabindex="-1" role="dialog" aria-labelledby="run-job-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="run-job-name">Run a job</h4>
            </div>
            <div class="modal-body">
                <span id="run-job-task"></span>
                <p class="scheduled-color">
                    Arguments:
                    <span id="run-job-pubargs">

                    </span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-id="" id="run-job-confirm-button">Run</button>
            </div>
        </div>
    </div>
</div>

