<div class="modal fade" id="edit-job-modal" tabindex="-1" role="dialog" aria-labelledby="edit-job-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit a Job</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="edit-input-job-name" class="col-sm-2 control-label">
                            Job ID
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly id="edit-input-job-id" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-input-job-name" class="col-sm-2 control-label">
                            Job Name
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-input-job-name" placeholder="e.g., My Awesome Job">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-input-job-task-class" class="col-sm-2 control-label">
                            Job Class
                        </label>
                        <div class="col-sm-10">
                            <input type="hidden" id="edit-input-job-task-class" class="form-control select2">
                            <span class="help-block" id="edit-job-class-notes">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-input-job-task-args" class="col-sm-2 control-label">
                            Arguments
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-input-job-task-args" placeholder='e.g., [1, 2, "hello"]'>
                            <span class="help-block text-center">Should be valid JSON string of an array (single quote is NOT allowed), e.g., [1, 2, "hello"]</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            Scheduling
                        </label>

                        <div class="hidden" id="edit-job-trigger"></div>

                        <div class="col-sm-10 center">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs modal-tab-content" id="edit-trigger-tab" role="tablist">
                                <li role="presentation" class="active"><a id="cron" href="#edit-cron-sched" role="tab"
                                        data-toggle="tab">Cron</a></li>
                                <li role="presentation"><a id="interval" href="#edit-interval-sched" role="tab"
                                        data-toggle="tab">Interval</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role=" tabpanel" class="tab-pane active" id="edit-cron-sched">
                                    <div class="form-group">
                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-minute" value="0">
                            <span class="help-block text-center">minute</span>
                        </div>
                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-hour" value="*">
                            <span class="help-block text-center">hour (UTC)</span>
                        </div>
                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-day" value="*">
                                            <span class="help-block text-center">day of month</span>
                        </div>
                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-month" value="*">
                            <span class="help-block text-center">month</span>
                        </div>
                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-day-of-week" value="*">
                            <span class="help-block text-center">day of week</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            Note:
                        </label>
                        For day of week, 0 is Monday, 6 is Sunday. Legal format: <strong>0-3</strong>,
                        <strong>mon,tue,wed,thu,fri,sat,sun</strong>
                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="edit-interval-sched">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-seconds" value="0">
                                            <span class="help-block text-center">seconds</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-minutes" value="0">
                                            <span class="help-block text-center">minutes</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-hours" value="0">
                                            <span class="help-block text-center">hours</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="edit-job-days" value="0">
                                            <span class="help-block text-center">days</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left" id="edit-job-left-footer">
                    <button type="button" class="btn btn-danger" id="delete-job-confirm-button">Delete</button>
                    <span id="pause-resume-container"><input type="checkbox" name="pause-resume-checkbox" id="pause-resume-checkbox" checked></span>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="edit-job-confirm-button">Modify</button>
                </div>
            </div>
        </div>
    </div>
</div>

