[Unit]
Description=NDscheduler
After=multi-user.target

[Service]
Type=idle
ExecStart=/app/TOOLS/ndscheduler/bin/ndscheduler
User=%i
RemainAfterExit=no
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target