# Additional dependencies for simple_scheduler only

requests == 2.9.1

# Uncomment this if you want to use Postgres as datastore
#
# psycopg2 == 2.6.1

# Uncomment this if you want to use MySQL as datastore
#
# pymysql == 0.6.7